//Primary Colors

$red: #B60036;
$yellow: #FFD52A ;
$yellow2: #FFAD2A;

//Secondary Colors 
$black: #000000;
$dark: #2C2E33;
$light1: #EFF4F8;
$light2: #EFF4F8;
$p-color: #24272B;
$p-color-2: #232526;
$input-bg: #4B5A80;
$bg-dark-2: #DEEAF4;
//Tipograpy
$radio-canada-regular: 'Radio Canada Regular';
$radio-canada-bold: 'Radio Canada Bold';
$radio-canada-light: 'Radio Canada Light';
$radio-canada-semibold: 'Radio Canada semibold';


