footer {
  background-color: #000000;
  position: relative;
  padding-top: 64px;
  & .decoration {
    width: 56px;
    height: 56px;
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(45deg);
    margin-top: -27px;
    & img {
      width: 17px;
      transform: rotate(-45deg);
    }
  }

  & hr{
    border-top: 2px solid #EFF4F8;
    opacity: .2;
    margin-top: 49px;
    margin-bottom: 40px;
  }
  & .icon{
    width: 27px;
  }

  & .icon-social{
    width: 40px;
  }
  .copyrigth{
    min-height: 90px;
    display: flex;
    align-content: flex-end;
    padding: 22px;
    background-color: #232429;
    margin-top: 67px;

    & .link-yellow{
        text-decoration: none;
    }
  }
 
}

@media (max-width: 767px){
  footer{
    .row{
      padding-left: 15px;
    padding-right: 15px;
    }
    & hr{
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }
}