//buttons
@mixin button($color, $hover, $text-color) {
  background-color: $color;
  color: $text-color;
  font-size: 20px;
  padding: 13px 62px;
  width: max-content;
  border: none;
  transition: all ease-in 0.2s;
  cursor: pointer;
  &:hover {
    background-color: $hover;
    color: $text-color
  }
}
.main-button {
  @include button($yellow, $yellow2, $p-color);
}
.main-button-hover {
  @include button($yellow2, $yellow2, $p-color);
}
.secondary-button {
  @include button($red, #95002c, white);
}
.secondary-button-hover {
  @include button(#95002c, #95002c, white);
}

//Form items
.form-control {
  border-radius: 0px;
  height: 56px;
  background-color: rgba($input-bg, $alpha: 0.05);
  border: none;
  border-bottom: 2px solid $red !important;
  padding: 0px 24px 0px 24px;
  position: relative;
  font-size: 20px;
  color: $black;
}
.form-control:focus {
  background-color: rgba($input-bg, $alpha: 0.05);
  border-color: none;
  outline: none;
  box-shadow: none;
}
select {
  background-image: url(../img/Icon_feather-chevron-down.svg);
  background-repeat: no-repeat;
  background-position: center right;
  background-position-x: calc(100% - 24px);
}
select.primary-control {
    background-image: url(../img/Icon_feather-chevron-down.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-position-x: calc(100% - 24px);
}
.input-yellow{
    border-bottom: 2px solid $yellow !important;
}
select.input-yellow {
    background-image: url(../../img/down-icon.svg);
    background-size: 18px;
}
textarea.input-yellow {
    padding-top: 10px;
    border: 2px solid $yellow;
    border-top: 0px solid;
}
label{
    font-size: 18px;
}
.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 19px;

  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;


  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  /* Create a custom checkbox */

  & .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border: 2px solid $yellow;
  }

  /* When the checkbox is checked, add a blue background */
  & input:checked ~ .checkmark {
    background-color: $yellow;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  & .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  & input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  & .checkmark:after {
    left: 8px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 19px;
    
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
  
    & input[type="radio"] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }
    /* Create a custom checkbox */
  
    & .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 24px;
      width: 24px;
      background-color: transparent;
      border: 2px solid $yellow;
      border-radius: 24px;
    }
  
    /* When the checkbox is checked, add a blue background */
    & input:checked ~ .checkmark {
      background-color: $yellow;
    }
  
    /* Create the checkmark/indicator (hidden when not checked) */
    & .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }
  
    /* Show the checkmark when checked */
    & input:checked ~ .checkmark:after {
      display: block;
    }
  
    /* Style the checkmark/indicator */
    & .checkmark:after {
      left: 8px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
