header {
  padding: 16px 0px 16px 0px;
  transition: background-color ease-in .2s;

  .trails {
    font-size: 18px;
  }

  & button {
    border: none;
    background: transparent;
    width: 20px;
    height: 20px;

    & img {
      height: 20px;
    }
  }

  .gap-4 {
    gap: 40px !important;
  }
  & .hamburger {
    width: 20px;
    height: 20px;
    & .line {
      width: 20px;
      height: 3px;
      border-radius: 8px;
      background-color: $red;
      position: relative;
      transition: all ease-in .3s;
    }
    & .line::after {
      content: "";
      position: absolute;
      left: 0;
      top: 10px;
      width: 11px;
      height: 3px;
      border-radius: 8px;
      background-color: $red;
      transition: all ease-in .3s;
    }
  }
  .main-menu{ 
    padding: 0px;
    border-bottom: 1px solid $yellow;
    & ul {
      display: flex;
      justify-content: space-between;
      padding: 0px;
      margin: 0px;

      & li:first-child{
        padding-left: 0px;
      }
      & li:last-child{
        padding-right: 0px;
      }
      & li {
        padding: 16px;
  
        & a {
          color: white;
          font-family: $radio-canada-semibold;
          font-size: 20px;
          text-transform: uppercase;
        }
      }
      & li.active,
      li:hover {
        & a {
          color: $yellow;
        }
      }
    }
    & .search-btn{ 
      padding-left: 5px;
      padding-right: 5px;
      width: max-content;
      & input{
        display: none;
      }
    }
  }

  & .secondary-menu{
    padding-left: 0px;
    padding-top: 30px;

    & li{
      font-size: 18px;
      color: white;
    }
    & ul{
      padding-left: 0px;
      & li{
        margin-top: 16px;
      }
      & a{
        color: $yellow;
      }
    }

  }

  & .menu-show{
    transition: all ease-in .3s;
    min-height: 0px;
    max-height: 0px;
    overflow: hidden;
  }
}

header.active {
  background-color: $black;
  
  & .logo{
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(48deg) brightness(111%) contrast(100%);
  }
  .trails {
    color: white;
  }

  & button {
    & img {
        filter: brightness(0) saturate(100%) invert(90%) sepia(37%) saturate(3755%) hue-rotate(333deg) brightness(106%) contrast(101%);;
    }
  }

  & .hamburger {
    margin-top: 5px;
    width: 22px;
    & .line {
      width: 22px;
      background-color: $yellow;
      transform: rotate(45deg);
      
    }
    & .line::after {
      content: "";
      top: 0px;
      width: 22px;
      background-color: $yellow;
      transform: rotate(-90deg);
    }
  }

  & .menu-show{
    display: flex;
    max-height: 2000px;
    min-height: 100px;
  }

  
}

@media (max-width: 767px){
  header{
    & .logo{
      width: 59px;
    }
    & .trails{
      font-size: 15px;
    }
    & button {
      width: 15px;
      height: 15px;
  
      & img {
        height: 15px;
      }
    }
    & .hamburger {
      width: 15px;
      height: 15px;
      & .line {
        width: 15px;
        height: 2px;
      }
      & .line::after{
        top: 7px;
        height: 2px;
      }
    }

    & .main-menu{
      & ul{
        flex-direction: column;
        & li{
          padding: 8px !important;
          margin-top: 8px;
        }
      }

      & .search-btn{
        width: 100%;
        position: relative;
        height: auto;
        & input{
          color: white;
          display: block;
          background-color: #262626;
          &::-webkit-input-placeholder{
            color: white;
          }
        }
        & img{
          position: absolute;
          top: 0;
          right: 0;
          margin-top: 18px;
          margin-right: 20px;
          width: 20px;
          height: 20px;
        }
      }
    }
    
    & .secondary-menu{

      & .dropdown-item-submenu{
        position: relative;
        &::after{
          content: '';
          position: absolute;
          background-image: url(../img/down-icon.svg);
          filter: invert(80%) sepia(87%) saturate(480%) hue-rotate(336deg) brightness(100%) contrast(102%);
          background-repeat: no-repeat;
          background-size: contain;
          top: 0;
          right: 0;
          margin-top: 5px;
          height: 0;
          width: 22px;
          height: 15px;
          transition: transform ease-in .2s;
        }
        & ul{
          transform: scaleY(0);
          transform-origin: top;
          height: 0;
          overflow: hidden;
          transition: transform ease-in .2s;
  
        }
      }

      & .active{
        color: white;
        font-size: 18px;
        &::after{
          transform: rotate(-180deg);
        }
        & ul{
          height: auto;
          transform: scaleY(1);
        }
      }
     
    
    }
    
  
  }

  header.active{
    & .hamburger {
      & .line {
        width: 16px;
        
      }
      & .line::after {
        top: 0px;
        width: 16px;
      }
    }
  }
}